{% extends "layout.html" %}
{% block content %}

    <h1>{{title}}</h1>

    <p>A little weather app made with Python and Flask. Hosted on Heroku. Hooked up to the <a href="https://openweathermap.org" rel="bookmark">OpenWeatherMap API</a> and using <a href="https://geocoder.readthedocs.io" rel="bookmark">Geocoder</a> to determine the Heroku IP location.</p>
<p><small>&copy; 2019. Design and development by <a href="https://www.jokedewinter.co.uk" rel="bookmark">Joke De Winter</a></small></p>

{% endblock %}