{% extends "layout.html" %}
{% block content %}

	<h1>Choose a location</h1>
	<div class="locations">
		<a href="{{ url_for('the_weather') }}?location=Loughborough">Loughborough</a>
		<a href="{{ url_for('the_weather') }}?location=London">London</a>
		<a href="{{ url_for('the_weather') }}?location=New York">New York</a>
		<a href="{{ url_for('the_weather') }}?location=Zermatt">Zermatt</a>
		<a href="{{ url_for('the_weather') }}?location=Brussels">Brussels</a>
		<a href="{{ url_for('the_weather') }}?location=Milwaukee">Milwaukee</a>
	</div>

	<h2>Or somewhere else?</h2>
	{% if forecast == 404: %}
	    <p>Never heard of {{wrong_location.title()}}. Sure you spelled it correctly?</p>
	{% endif %}
	<form method="POST" action="/weather">
		<label for="location">Village, town, city <small>Include the country code if you want to be specific. <span>Eg. <code>Manchester, UK</code></span></small></label>
	    <input type="text" id="location" name="location" required="required">
	    <button type="submit" id="submit" name="submit">Show me the weather</button>
	</form>

	<h3><a href="{{ url_for('the_weather') }}?location=geo">Or by IP <small>The one where this app lives</small></a></h3>
	
{% endblock %}