<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | Beams & Droplets | Weather app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
</head>
<body>
    {% block content %}
    {% endblock %}

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}" rel="bookmark">Choose location</a></li>
            <li><a href="{{ url_for('view_log') }}" rel="bookmark">View logs</a></li>
            <li><a href="{{ url_for('about') }}" rel="bookmark">About</a></li>
        </ul>
    </nav>
</body>
</html>