{% extends "layout.html" %}
{% block content %}

    <h1>{{title}}</h1>

	{% if contents: %}
	    <table>
			<thead>
				<tr>
					<th>Where</th>
					<th>Day</th>
					<th>Time</th>
					<th>Temperature</th>
					<th>Forecast</th>
				</tr>
			</thead>
			<tbody>
				{% for row in contents %}
					<tr>
						{% for column in row %}
							<td>{{column}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	
	{% else: %}
		<p>No logs have been created yet. <a href="{{ url_for('index') }}" rel="bookmark">Change location</a> to start the log.</p>
	{% endif %}

{% endblock %}