{% extends "layout.html" %}
{% block content %}
    <h1>{{title}}</h1>
    {% if contents: %}
    
	    <table>
			<tr>
				<th>Where</th>
				<th>Day</th>
				<th>Forecast</th>
			</tr>
			{% for row in contents %}
				<tr>
					{% for column in row %}
						<td>{{column}}</td>
					{% endfor %}
					<td></td>
				</tr>
			{% endfor %}
		</table>
	
	{% else: %}
		<p>No logs have been created yet. <a href="{{ url_for('change') }}" rel="bookmark">Change location</a> to start the log.</p>
	{% endif %}
{% endblock %}